body {
  background: radial-gradient(circle, #7489df, #0746f3);

}

.box {
box-sizing: border-box;
height: 670px;
width: 840px;
margin: 50px auto;
border-radius: 20px;
 background: rgba(255, 255, 255, 0.2);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
backdrop-filter: blur(8px);
padding: 50px 20px 20px 20px;
}

header {
  text-align: center;
  font-size: 30px;
  color: #000000;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
 
  
}

.box h2 {
     margin: 0;
}

.box1 {
  box-sizing: border-box;
height: 420px;
width: 700px;
margin: 50px auto;
border-radius: 20px;
 background: rgba(53, 164, 255, 0.3);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
backdrop-filter: blur(8px);
padding: 10px 20px 20px 20px;
}

.texto1 {
  text-align: center;
  font-size: 20px;
  color: #000000;
}

.texto2 {
  text-align: center;
  font-size: 25px;
  color: #000000;
}

.botao {
  display: inline-block;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #2c94e4, #374e68);
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  
}

.botao:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0,0,0,0.4);
}

.texto3 {
    
  font-size: 20px;
  color: #000000;
  margin-top: 20px;
  position: absolute;
  top: 10px;    
  right: 10px; 
  color: rgb(8, 8, 8);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .box, .box1 {
    width: 95%;
    padding: 20px;
  }

  header {
    font-size: 24px;
  }

  .texto1, .texto2, .texto3 {
    font-size: 16px;
  }

  .botao {
    width: 100%;
    font-size: 16px;
  }
}
